<div class="container text-center justify-content-center">

<h1>Bienvenu sur le profil de <%= @user.first_name %></h1>

<p>Prénom : <%= @user.first_name %> </p>
<p>Nom : <%= @user.last_name %>  </p>
<p>Email : <%= @user.email %>  </p>
<p>Description : <%= @user.description %>  </p>

</div>