<div class="container text-center justify-content-center">

<h1>Bienvenu sur le profil de <%= @current_user.first_name %></h1>

<p>Prénom : <%= @current_user.first_name %> </p>
<p>Nom : <%= @current_user.last_name %>  </p>
<p>Email : <%= @current_user.email %>  </p>
<p>Description : <%= @current_user.description %>  </p>

</div>